@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MAIN CSS CONFIGS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --purple: #68519D;
    --yellow: #f8b04e;
    --indigo: #2C2661;
    --darkArnia: #1a1033;
    --lightpurple: #D7CAE5;
    --ice: #FBF0E2;
    --background: #F5F5F5;
    --greenStatus: #27AE60;
    --orangeStatus: #F8B04E;
    --redStatus: #EB5757;
}

/* COOL BACKGROUND */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #F8B04E, #000);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: var(--darkArnia);
    z-index: 2;
}

@media (max-width: 900px) {
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}

/* MAIN */

main {
    background-color: var(--background) !important;
    border-radius: 10px;
    z-index: 3;
    position: relative;
    border: 5px solid var(--yellow);
    padding: 30px;
}

#contentMain {
    display: flex;
    flex-direction: column;
}

/* HEADER MAIN */

#headerContent {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid var(--lightpurple);
}

#logoArnia>img {
    width: 150px;
}

#titleMain>h2 {
    font-weight: bold;
    color: var(--purple);
}

/* BODY MAIN */

#bodyContent {
    display: flex;
    flex-direction: row;
}

#infoBodyContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.textIcon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.textIcon>img {
    width: 100px;
}

#interactBodyContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-left: 3px solid var(--lightpurple);
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    font-size: 12px !important;
}

/* SELECTORS BY TAG NAME */

button {
    border: 1px solid var(--purple);
    color: var(--purple);
    font-size: 18px !important;
    border-radius: 12px !important;
    padding: 10px 25px;
}

button:hover {
    background-color: var(--purple);
    color: var(--background);
}

label [for="conected"] {
    font-size: 26px;
}

div {
    color: var(--indigo);
}

label {
    font-size: 13px;
    font-weight: 600;
    color: var(--purple);
}

input {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid gray;
}

small {
    color: var(--redStatus);
    text-align: center;
}

/* SELECTORS BY CLASS NAME */

.closeButton {
    transform: scale(2, 2);
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    margin-left: 10px;
}

.closeButton:hover {
    transform: scale(2.1, 2.1);
    color: var(--indigo);
}

.closeButtonFooter {
    transform: scale(2, 2);
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 0;
    margin-left: 10px;
}

.closeButtonFooter:hover {
    transform: scale(2.1, 2.1);
    color: var(--indigo);
}

.divSpecial {
    display: flex;
    flex-direction: column;
}

.modalTitle {
    font-weight: 700;
    font-size: 17px;
}

.modalTxt {
    font-size: 17px;
}

.disabled {
    background-color: var(--background) !important;
    color: var(--lightpurple) !important;
    border-color: var(--lightpurple) !important;
}

.disabled:hover {
    cursor: not-allowed !important;
}

.enabled {
    cursor: pointer !important;
    background-color: var(--background) !important;
    color: var(--purple) !important;
}

.enabled:hover {
    background-color: var(--purple) !important;
    color: var(--background) !important;
}

.error {
    border: 1px solid var(--redStatus) !important;
}

.success {
    border: 1px solid var(--greenStatus) !important;
}

.successSmall {
    color: var(--greenStatus) !important;
}

.errorSmall {
    color: var(--redStatus) !important;
}

/* ANIMATIONS */

.downToUpAnimation {
    animation: downToUp 0.5s running 1;
}

@keyframes downToUp {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* MODALS */

#modalLogin {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}

#modalLoginContent {
    background-color: var(--background);
    color: var(--purple);
    padding: 10px;
    margin: 320px auto;
    border-radius: 10px;
    border: 5px solid var(--yellow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    position: relative;
    height: 36vh;
}

#modalRegistration {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}

#modalRegistrationContent {
    background-color: var(--background);
    color: var(--purple);
    padding: 10px;
    margin: 220px auto;
    border-radius: 10px;
    border: 5px solid var(--yellow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    position: relative;
}

#modalInfo {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 5;
    background-color: var(--background);
    border: 5px solid var(--yellow);
}

#modalInfoContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--indigo);
    text-align: center;
    position: relative;
}

/* FORMS */

#formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#formRegistration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* RESPONSIVENESS */

@media (min-width: 319px) and (max-width: 428px){
    #headerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #titleMain{
        width: 100%;
    }
    #titleMain>h2{
        font-size: 19px;
    }
    #infoBodyContent{
        height: 60vh;
        margin-bottom: 20px;
    }
    #infoBodyContent>div{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    #buttons{
        flex-direction: column;
    }
    #modalLoginContent{
        margin-top: 0;
        height: 100vh;
    }
    #modalRegistrationContent{
        margin-top: unset;
        height: 150vh;
        font-size: 10px;
        padding: 0;
        margin: 0;
        gap: 0;
        justify-content: flex-start;
    }
    #formNewUser{
        margin-top: unset !important;
    }
}

@media (min-width: 374px) and (max-width: 375px){
    #headerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #titleMain{
        width: 100%;
    }
    #titleMain>h2{
        font-size: 19px;
    }
    #infoBodyContent{
        height: 50vh;
        margin-bottom: 20px;
    }
    
    #infoBodyContent>div{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    #buttons{
        flex-direction: column;
    }
    #modalLoginContent{
        margin-top: 0;
        height: 100vh;
    }
    #modalRegistrationContent{
        margin-top: 10px;
        height: 100vh;
        font-size: 10px;
        padding: 0;
        margin: 0;
        gap: 0;
        justify-content: center;
    }
    #formNewUser{
        margin-top: unset !important;
    }
}

@media only screen and (max-width: 425px) {
    button {
        padding: 3px 10px;
    }
    #infoBodyContent {
        font-size: 8px;
    }
    #imgPrime{
        display: none;
    }
    #imgPrime>img{
        display: none;
    }
    section{
        left: 0;
    }
    main{
        left: unset;
        height: unset;
    }
}

@media (min-width: 767px) and (max-width: 768px) {
    main{
        left: unset;
        height: unset;
    }
    #modalRegistrationContent{
        margin-top: 15%;
    }
}

@media (min-width: 1023px) and (max-width: 1024px) {
    #modalRegistrationContent{
        margin-top: 8%;
    }
    #modalLoginContent{
        margin-top: 23%;
    }
    #modalInfoContent{
        height: 17vh;
        bottom: 30px;
    }
    .closeButtonFooter{
        margin-top: 30px;
        margin-right: 7px;
    }
    #imgPrime{
        left: 7vw !important;
    }
    #imgPrime>img{
        width: 45% !important;
    }
    main{
        height: unset !important;
    }
}

@media (min-width: 1023px) and (max-width: 1440px) {
    #modalRegistrationContent{
        margin-top: 8%;
    }
    #modalLoginContent{
        margin-top: 23%;
    }
    #modalInfoContent{
        height: 17vh;
        bottom: 30px;
    }
    .closeButtonFooter{
        margin-top: 30px;
        margin-right: 7px;
    }
    main{
        left: 18%;
        height: 400px;
    }
    #imgPrime{
        display: block !important;
        position: absolute;
        z-index: 3 !important;
        left: 10vw;
        bottom: -10px;
    }
    #imgPrime>img{
        width: 55%;
    }
}


@media (min-width: 1439px) and (max-width: 1440px) {
    main{
        height: 380px;
    }
}

@media only screen and (max-width: 1839px){
    #imgPrime{
        display: none;
        z-index: -1;
}
button{
    padding: 0px 20px;
    font-size: 14px !important;
}
}
@media only screen and (min-width: 1840px){/* monitor */
    main{
        left: 18%;
        height: 400px;
    }
    #imgPrime{
        display: block;
        position: absolute;
        z-index: 3;
        left: 15vw;
        bottom: -10px;
    }
    #imgPrime>img{
        width: 65%;
    }
    button{
        padding: 1px 25px;
        font-size: 14px;
    }
    a>img{
        width: 150px;
    }
}

@media only screen and (min-width: 2560px) {
    main {
        height: 40vh;   
    }

    #contentMain {
        height: 100%;
    }

    #headerContent {
        height: 20%;
        align-items: center;
    }

    #titleMain>h2 {
        font-size: 48px;
    }

    #bodyContent {
        height: 86%;
    }

    #infoBodyContent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        padding: 11px 40px;
    }
}