@media only screen and (min-width: 320px) {
    body{
        width: 100vw;
    }
    #page-title{
        margin: unset;
        margin-top: 75px;
        font-size: 26px;
        text-align: center;
    }
    #logo{
        margin: 20px 12px;
    }
    #logoArnia{
        width: 120px;
    }
    #weather{
        width: 90%;
        height: 7vh;
        font-size: 15px;
        left: 25px;
        top: 90px;
        justify-content: space-between;
        text-align: center;
        flex-direction: row;
        align-items: center;
    }
    #firstLine{
        width: 50%;
        font-size: 25px;
    }
    #secondLine{
        width: 50%;
        font-size: 19px;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 5px;
    }
    
    #tableHeader{
        width: 100vw;
        position: absolute;
        left: 15px;
        display: flex;
        flex-direction: column;
        /* margin-top: 60px; */
    }
    #newTaskButton{
        font-size: 14px;
        padding: 7px 22px;
    }
    #searchTasks{
        display: none;
        position: absolute;
        margin-bottom: 70px;
        width: 90%;
    }
    #buttonsFilter{
        margin-top: 70px;
        display: flex;
        overflow-x: scroll;
        height: 30px;
        width: 90%;
        word-break: keep-all;
    }
    #buttonsFilter>button{
        padding: 0px 40px;
        font-size: 5px;
    }
    #tableContent{
        max-height: 400px !important;
        overflow-y: scroll;
    }
    table{
        position: absolute;
        left: 4vw;
        top: 45vh;
    }
    th{
        font-size: 13px;
    }
    tr{
        font-size: 12px;
    }
    #div-orange{
        display: none;
    }
    #div-white{
        width: 115vw;
        height: 90vh;
        position: relative;
    }
    
    #footerHelp{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    
    #buttonsPaging{
        font-size: 15px;
        position: absolute;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        bottom: -12px;
        right: 15px;
    }
    
    #buttonsPaging>p{
        display: inline;
    }
    .iconTable{
        transform: scale(1.3,1.3);
    }
    main{
        height: 90vh;
    }
  }

  @media only screen and (min-width: 425px) {
    #page-title{
        margin: unset;
        margin-top: 85px;
        font-size: 26px;
        text-align: center;
    }
  }

  @media only screen and (min-width: 768px) {
    body{
        max-width: 768px;
    }
    #div-white{
        width: 768px;
        height: 100%;
    }
    #page-title{
        margin: unset;
        margin-top: 85px;
        font-size: 26px;
        text-align: center;
    }
  }