@media (min-width: 500px) and (max-width: 501px) {
    body{
        max-width: 500px;
    }
    #div-white{
        width: 500px;
        height: 100vh;
    }
    #div-orange{
        display: none;
        opacity: 0.5;
    }
    #headerSection{
        display: flex;
        flex-direction: column; 
    }
    #headerStart{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    #logoArnia{
        width: 130px;
    }
    #firstLine>div{
        font-size: 21px;
        margin-top: 20px;
    }
    #secondLine>div{
        font-size: 16px;
    }
    #secondLine{
        margin-left: 60px;
    }
    #buttonsPageTop{
        position: absolute;
        top: 0;
        gap: 10px;
    }
    #searchTasks{
        display: none;
        opacity: 0;
    }
    #tableHeader{
        position: relative;
        left: -140px;
        width: 90vw;
        overflow-x: scroll;
        margin-bottom: 100px;
    }
    #buttonsFilter>button{
        padding: 2px 11px;
    }
    #buttonsPaging{
        bottom: 23px;
        font-size: 15px;
        margin-right: 100px;
        right: 267px !important;
    }
    #midSection{
        width: 52vw;
    }
    #tHead{
        height: 30px;
    }
    th{
        font-size: 12px;
    }
    tr{
        font-size: 11px;
    }
    #footerHelp{
        width: 100%;
        text-align: center;
        margin-right: 260px;
    }
    #modalNewTaskContent{
        margin-top: 40%;
        width: 100vw;
        height: 63vh;
    }
    #modalConfirmationContent{
        margin-top: 70%;
        width: 100vw;
        height: 25vh;
        text-align: center;
    }
    #modalHelpContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalEditConfirmContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalEditInfoContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalDeleteConfirmContent{
        margin-top: 40%;
        width: 100vw;
        height: 65vh;
    }
    #modalInfo{
        margin-top: 40%;
        width: 100vw;
        height: 10vh;
        font-size: 13px;
    }
    #textModalInfo{
        font-size: 16px;
        margin-top: 20px;
    }
    input[type="date"]{
        width: 70%;
    }
    select{
        width: 70%;
    }
    #tableSection{
        margin-left: 70px;
    }
    
  }

@media only screen and (min-width: 320px) {
    body{
        max-width: 425px;
    }
    #div-white{
        width: 425px;
        height: 100vh;
    }
    #div-orange{
        display: none;
    }
    #headerSection{
        display: flex;
        flex-direction: column;
    }
    #headerStart{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    #logoArnia{
        width: 130px;
    }
    #firstLine>div{
        font-size: 21px;
        margin-top: 20px;
    }
    #secondLine>div{
        font-size: 16px;
    }
    #secondLine{
        margin-left: 60px;
    }
    #buttonsPageTop{
        position: absolute;
        top: 0;
        gap: 10px;
        left: 165px;
    }
    #searchTasks{
        display: none;
    }
    #tableHeader{
        position: relative;
        left: -140px;
        width: 90vw;
        overflow-x: scroll;
        margin-bottom: 100px;
    }
    #buttonsFilter>button{
        padding: 3px 14px;
    }
    #buttonsPaging{
        bottom: 23px;
        font-size: 15px;
        right: 0;
    }
    #midSection{
        width: 52vw;
    }
    #tHead{
        height: 30px;
    }
    th{
        font-size: 12px;
    }
    tr{
        font-size: 11px;
    }
    #footerHelp{
        width: 100%;
        text-align: center;
    }
    #modalNewTaskContent{
        margin-top: 40%;
        width: 100vw;
        height: 63vh;
    }
    #modalConfirmationContent{
        margin-top: 70%;
        width: 100vw;
        height: 25vh;
        text-align: center;
    }
    #modalHelpContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalEditConfirmContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalEditInfoContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalDeleteConfirmContent{
        margin-top: 40%;
        width: 100vw;
        height: 65vh;
    }
    #modalInfo{
        margin-top: 40%;
        width: 100vw;
        height: 10vh;
        font-size: 13px;
    }
    #textModalInfo{
        font-size: 16px;
        margin-top: 20px;
    }
    input[type="date"]{
        width: 70%;
    }
    select{
        width: 70%;
    }
    
  }

  @media (min-width: 321px) and (max-width: 425px) { /* cell phone */
    body{
        max-width: 425px;
    }
    #div-white{
        width: 425px;
        height: 100vh;
    }
    #div-orange{
        display: none;
    }

    #headerStart{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    #logoArnia{
        width: 130px;
    }
    #firstLine>div{
        font-size: 21px;
        margin-top: 20px;
    }
    #secondLine>div{
        font-size: 16px;
    }
    #secondLine{
        margin-left: 100px;
    }
    #buttonsPageTop{
        position: absolute;
        top: 0;
        gap: 10px;
        left: 270px;
    }
    #searchTasks{
        display: none;
    }
    #tableHeader{
        position: relative;
        left: -140px;
        width: 90vw;
        overflow-x: scroll;
        margin-bottom: 100px;
    }
    #buttonsFilter>button{
        padding: 3px 14px;
    }
    #buttonsPaging{
        bottom: 23px;
        font-size: 15px;
        margin: 0px auto;
    }
    #midSection{
        width: 52vw;
    }
    #tHead{
        height: 30px;
    }
    
    #footerHelp{
        width: 100%;
        text-align: center;
    }
    #modalNewTaskContent{
        margin-top: 40%;
        width: 100vw;
        height: 63vh;
    }
    #modalConfirmationContent{
        margin-top: 70%;
        width: 100vw;
        height: 25vh;
        text-align: center;
    }
    #modalHelpContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalEditConfirmContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalEditInfoContent{
        margin-top: 70%;
        width: 100vw;
        height: 35vh;
    }
    #modalDeleteConfirmContent{
        margin-top: 40%;
        width: 100vw;
        height: 65vh;
    }
    #modalInfo{
        margin-top: 40%;
        width: 100vw;
        height: 10vh;
        font-size: 13px;
    }
    #textModalInfo{
        font-size: 16px;
        margin-top: 20px;
    }
    input[type="date"]{
        width: 70%;
    }
    select{
        width: 70%;
    }
    table{
        margin-left: 20px;
    }
    #tableHeader{
        position: relative;
        left: -130px;
        width: 90vw;
        overflow-x: scroll;
        margin-bottom: 100px;
    }

    th{
        font-size: 13px;
    }
    td{
        font-size: 12px;
    }
  }

  @media (min-width: 426px) and (max-width:768px){ /* tablet */
    body{
        max-width: 768px;
        position: fixed;
    }
    #div-white{
        width: 768px;
        height: 100vh;
    }
    #div-orange{
        display: block;
        z-index: 0;
    }
    #headerSection{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    #headerStart{
        gap: 100px;
    }
    #logoArnia{
        width: 180px;
    }
    #firstLine>div{
        font-size: 38px;
        margin-top: 20px;
    }
    #secondLine>div{
        font-size: 24px;
    }
    #secondLine{
        text-align: center;
        margin-left: 55px;
    }
    #tableHeader{
        position: relative;
        left: -120px;
        width: 90vw;
        overflow-x: scroll;
        margin-bottom: 100px;
    }
    #searchTasks{
        display: flex;
        position: absolute;
        right: 0;
    }
    #modalNewTaskContent{
        margin-top: 15%;
        width: 80vw;
        height: 63vh;
    }
    #modalConfirmationContent{
        margin-top: 30%;
        width: 60vw;
        height: 25vh;
        text-align: center;
    }
    #confirmText{
        margin-top: 30px;
    }
    #modalHelpContent{
        margin-top: 30%;
        width: 65vw;
        height: 35vh;
    }
    #modalEditConfirmContent{
        margin-top: 30%;
        width: 50vw;
        height: 35vh;
        text-align: center;
    }
    #modalEditInfoContent{
        margin-top: 16%;
        width: 50vw;
        height: 68vh;
    }
    #modalDeleteConfirmContent{
        margin-top: 16%;
        width: 55vw;
        height: 65vh;
    }
    #buttonsPageTop{
        position: absolute;
        top: 0;
        gap: 10px;
        left: unset;
        right: 10px;
    }
    th{
        font-size: 13px;
    }
    td{
        font-size: 13px;
    }
    table{
        padding: 60px;
    }
    #tableSection{
        left: -70px;
    }
    #buttonsPaging{
        bottom: 45px;
        right: 230px;
        font-size: 15px;
        margin: 0px auto;
    }
    #footerHelp{
        width: 40%;
        right: 0;
    }
  }

  @media (min-width: 769px) and (max-width:1024px){ /* laptop */
    body{
        max-width: 1024px;
        position: fixed;
    }
    #div-white{
        width: 100vw;
        height: 100vh;
    }
    
    #div-orange{
        display: block;
        z-index: 0;
    }
    #headerSection{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    #buttonsFilter{
        width: fit-content;
    }
    #headerStart{
        gap: 100px;
    }
    #logoArnia{
        width: 180px;
    }
    #firstLine>div{
        font-size: 38px;
        margin-top: 20px;
    }
    #secondLine>div{
        font-size: 24px;
    }
    #secondLine{
        text-align: center;
        margin-left:110px;
    }
    #tableHeader{
        position: relative;
        left: -100px;
        overflow-x: scroll;
        margin-bottom: 100px;
    }
    #searchTasks{
        display: flex;
        position: absolute;
        right: 0;
    }
    #modalNewTaskContent{
        margin-top: 15%;
        width: 80vw;
        height: 63vh;
    }
    #modalConfirmationContent{
        margin-top: 30%;
        width: 60vw;
        height: 25vh;
        text-align: center;
    }
    #confirmText{
        margin-top: 30px;
    }
    #modalHelpContent{
        margin-top: 30%;
        width: 65vw;
        height: 35vh;
    }
    #modalEditConfirmContent{
        margin-top: 30%;
        width: 50vw;
        height: 35vh;
        text-align: center;
    }
    #modalEditInfoContent{
        margin-top: 16%;
        width: 50vw;
        height: 68vh;
    }
    #modalDeleteConfirmContent{
        margin-top: 16%;
        width: 55vw;
        height: 65vh;
    }
    #buttonsPageTop{
        position: absolute;
        top: 0;
        gap: 10px;
        left: unset;
        right: 30px;
        justify-content: center;
    }
    th{
        font-size: 17px;
    }
    td{
        font-size: 15px;
    }
    #tableSection{
        left: -50px;
    }
    #buttonsPaging{
        bottom: 45px;
        right: 230px;
        font-size: 15px;
        margin: 0px auto;
    }
    #footerHelp{
        width: 35%;
        right: 0;
    }
    
  }
 
  @media (min-width: 1025px) and (max-width:1439px){ /* monitor */
    body{
        max-width: 100vw;
        position: fixed;
    }
    #div-white{
        width: 100vw;
        height: 100vh;
    }
     th{
        font-size: 19px;
    }
    td{
        font-size: 17px;
    }

    
    #div-orange{
        display: block;
        z-index: 0;
    }
    #headerSection{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    #buttonsFilter{
        width: fit-content;
        margin-left: 30px;
    }
    #headerStart{
        gap: 100px;
    }
    #logoArnia{
        width: 180px;
    }
    #firstLine>div{
        font-size: 38px;
        margin-top: 20px;
    }
    #secondLine>div{
        font-size: 24px;
    }
    #secondLine{
        text-align: center;
        margin-left: unset;
        margin-right: 100px;
    }
    #tableHeader{
        position: relative;
        left: -100px;
        overflow-x: scroll;
        margin-bottom: 100px;
    }
    #searchTasks{
        display: flex;
        position: absolute;
        right: 100px;
        width: 20%;
    }
    #modalNewTaskContent{
        margin-top: 15%;
        width: 40vw;
        height: 53vh;
    }
    #modalConfirmationContent{
        margin-top: 30%;
        width: 60vw;
        height: 25vh;
        text-align: center;
    }
    #confirmText{
        margin-top: 30px;
    }
    #modalHelpContent{
        margin-top: 18%;
        width: 35vw;
        height: 35vh;
    }
    #modalEditConfirmContent{
        margin-top: 20%;
        width: 30vw;
        height: 35vh;
        text-align: center;
    }
    #modalEditInfoContent{
        margin-top: 9%;
        width: 25vw;
        height: 68vh;
    }
    #modalDeleteConfirmContent{
        margin-top: 16%;
        width: 40vw;
        height: 48vh;
    }
    #buttonsPageTop{
        position: absolute;
        top: 0;
        gap: 10px;
        left: unset;
        right: 30px;
    }
   
    #tableSection{
        left: -50px;
    }
    #buttonsPaging{
        bottom: 45px;
        right: 330px;
        font-size: 17px;
        margin: 0px auto;
    }
    #footerHelp{
        width: 25%;
        right: 0;
    }

    #buttonsHeaderSection{
        max-width: 10px;
        margin-left: 250px;
    }

    #buttonsPageTop{
        position: absolute;
        left: unset;
        justify-content: unset;
        
    }
  }
 
  @media (min-width: 1440px) and (max-width:2559px){ /* monitor large */
    body{
        max-width: 100vw;
        position: fixed;
    }
    #div-white{
        width: 150vw;
        height: 100vh;
    }
    th{
        font-size: 21px;
    }
    td{
        font-size: 18px;
    }

    
    #div-orange{
        display: block;
        z-index: 0;
    }
    #headerSection{
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-right: 40px;
        width: unset;
    }
    #buttonsFilter{
        width: fit-content;
        position: absolute;
        left: 30px;
    }
    #weatherSection{
        position: absolute;
        top: -500px;
    }
    #logoArnia{
        width: 180px;
    }
    #firstLine>div{
        font-size: 38px;
        margin-top: 20px;
    }
    #secondLine>div{
        font-size: 24px;
    }
    #secondLine{
        text-align: center;
        margin-left: 55px;
    }
    #tableHeader{
        position: relative;
        left: -120px;
        overflow-x: unset;
        margin-bottom: 100px;
    }
    #searchTasks{
        display: flex;
        position: absolute;
        right: 900px;
        max-width: 250px;
    }
    #modalNewTaskContent{
        margin-top: unset;
        margin-top: 10%;
        width: 30vw;
        height: 55vh;
    }
    #modalConfirmationContent{
        margin-top: 15%;
        width: 20vw;
        height: 25vh;
        text-align: center;
    }
    #confirmText{
        margin-top: 30px;
    }
    #modalHelpContent{
        margin-top: 14%;
        width: 25vw;
        height: 35vh;
    }
    #modalEditConfirmContent{
        margin-top: 15%;
        width: 20vw;
        height: 30vh;
        text-align: center;
    }
    #modalEditInfoContent{
        margin-top: 10%;
        width: 20vw;
        height: 68vh;
    }
    #modalDeleteConfirmContent{
        margin-top: 12%;
        width: 30vw;
        height: 50vh;
    }
    #modalInfo{
        width: 20%;
    }
    
    #tableSection{
        left: -50px;
    }
    #buttonsPaging{
        bottom: 180px;
        right: 900px;
        font-size: 17px;
        margin: 0px auto;
        
    }
    #footerHelp{
        width: 20%;
        right: 0;
    }

    #headerStart{
        gap: 100px;
        display: flex;
        flex-direction: column;
    }
    #weatherHeaderSection{
        margin-left: 450px;
    }
    #buttonsHeaderSection{
        max-width: unset;
        margin-left: none;
    }
    .iconTable{
        font-size: 19px !important;
    }
    #buttonsPageTop{
        position: static;
        margin-right: 50px;
        justify-content: unset;
    }
  }